body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; /* Assuming a dark theme for contrast */
  color: white;
}

#content {
  padding: 20px;
}

#canvas-with-controls {
  width: 100%; /* Full width of the parent */
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas-container {
  flex-grow: 1; /* Allows the canvas container to grow and take available space */
  position: relative;
  /* padding-top: 56.25%; Maintains the 16:9 aspect ratio */
  max-width: 100%; /* Maximum width based on parent width */
  border: solid 1px gray;
}

#displayCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#controls {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: center;
}

#controls button {
  margin-bottom: 10px;
}
